<div class="limiter">
    <div class="container-login100 page-background">
      <div class="wrap-login100">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <form class="login100-form validate-form">
          <%= devise_error_messages!%>
          <span class="login100-form-logo">
            <%= image_tag('school.jpg') %>
          </span>
          <span class="login100-form-title p-b-34 p-t-27">
            Registration
          </span>
          <div class="row">
             <div class="col-lg-12 col-md-12 p-t-20">
              <div class="wrap-input100 validate-input" data-validate="Enter username">
                <%= f.text_field :schoolName, autofocus: true,:class=>'input100',:placeholder=>'School Name' %>
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 p-t-20">
            <div class="wrap-input100 validate-input" data-validate="Enter email">
                 <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>'input100',:placeholder=>'Email' %>
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
              </div>
            </div>
            <div class="col-lg-6 p-t-20">
              <div class="wrap-input100 validate-input" data-validate="Enter password">
    <%= f.password_field :password, autocomplete: "new-password",:class=>'input100',
:placeholder=>'Password' %>
                <span class="focus-input100" data-placeholder="&#xf191;"></span>
              </div>
            </div>
            <div class="col-lg-6 p-t-20">
              <div class="wrap-input100 validate-input" data-validate="Enter password again">
                <%= f.password_field :password_confirmation, autocomplete: "new-password",:class=>'input100',:placeholder=>'Confirm password' %>
                <span class="focus-input100" data-placeholder="&#xf191;"></span>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 p-t-20">
              <div class="wrap-input100">
                <%= f.file_field :image,:class=>'input100' %>
                <span class="focus-input100"></span>
              </div>
            </div>
          </div>
          <div class="container-login100-form-btn">
              <%= f.submit "Register",:class=>'login100-form-btn' %>
          </div>
          <div class="text-center p-t-30">
            <%= link_to "You already have a membership?", new_session_path(resource_name) %>
            <%= render "devise/shared/links" %>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% end %>


