<% @department.each do |department| %>
<% if department.user == current_user %>
<tr class="odd">
	<td><%= department.id %></td>
	<td><%= department.depName %></td>
	<td><%= department.depHead %></td>
	<td>phone</td>
	<td>email</td>
	<td><%= department.depStartDate %></td>
	<td><%= department.depStdCapacity %></td>
	<td><%= department.depDescription %></td>	
	<td><%= link_to '',edit_department_path(department),:class=>'btn btn-sm btn-default fa fa-pencil' %></td>
	<td><%= link_to '',department_path(department),method: :delete,data: {confirm: 'Are you sure?'},:class=>'btn btn-sm btn-danger fa fa-trash' %></td>
</tr>
<% end %>
<% end %>
