<%= render 'dashboards/hNavBar' %>
<%= render 'dashboards/vNavBar' %>
<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">All Subjects List</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="">Subjects</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">All Subjects</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="card-box">
							<div class="card-head">
								<header>
									<div class="btn-group">
										<%= link_to new_subject_url,:id=>'addRow',:class=>'btn btn-info' do %>
										<%= content_tag :i,"Add New",:class=>'fa fa-plus' %>
										<% end %>
									</div>
								</header>
							</div>
							<div class="card-body ">
								<!-- start course list -->
								<div class="row">
							<% @subject.each do |s| %>
							<% if s.user == current_user %>
									<div class="col-lg-3 col-md-6 col-12 col-sm-6">
										<div class="blogThumb">
											<div class="thumb-center">
												<% if s.image.attached? %>
												<%= image_tag(s.image,:class=>'img-responsive') %>
												<% else %>
												<%= image_tag('std1.jpg',:class=>'img-responsive') %>
												<% end %>
											</div>
											<div class="course-box">
												<h4><%= s.subjectName %></h4>
												<div class="text-muted">
													<span class="m-r-10"><%= s.subjectCode %></span>
													
												</div>
												
												<p><span><i class="ti-user"></i> <%= s.subjectTeacher %></span></p>
												<p><span><i class="fa fa-graduation-cap"></i> Students: <%= s.subjectCapacity %></span></p>
			<%= link_to '',edit_subject_url(s),:class=>'btn btn-primary btn-xs fa fa-pencil' %>
			<%= link_to '',subject_path(s),method: :delete,data:{confirm:'Are you sure'},:class=>'btn btn-danger btn-xs fa fa-trash-o' %>
											</div>
										</div>
									</div>
									<% end -%>
									<% end %>
								</div>
								<!-- End course list -->
							</div>
						</div>
					</div>	
			<!-- end page content -->
<%= render 'dashboards/chat' %>
<%= render 'dashboards/footer' %>			