<%= render 'dashboards/hNavBar' %>
<%= render 'dashboards/vNavBar' %>
<!-- start page content -->
<div class="page-content-wrapper">
	<div class="page-content"> 
		<div class="page-bar">
			<div class="page-title-breadcrumb">
				<div class=" pull-left">
					<div class="page-title">Add Course</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-right">
					<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
					</li>
					<li><a class="parent-item" href="">Course</a>&nbsp;<i class="fa fa-angle-right"></i>
					</li>
					<li class="active">Add Course</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="card card-box">
					<div class="card-head">
						<header>Subject Details
							<% if @subject.errors.any? %>
							 <h4 style="text-decoration-color: red;">
							    <% @subject.errors.full_messages.each do |message| %>
							    <%= message %>
							    <% end %>
							  </h4>
							<% end %>
						</header>
						
					</div>
					<div class="card-body" id="bar-parent">
		<%= form_with scope: :subject,url: subjects_path,local: true do |form| %>
						<form id="form_sample_1" class="form-horizontal">
							<div class="form-body">
								<div class="form-group row">
									<label class="control-label col-md-3">Subject Name
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">

								<%= form.text_field :subjectName,:class=>'form-control input-height',:placeholder=>'enter Subject name' %>

									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">Subject Code
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">

									<%= form.text_field :subjectCode,:placeholder=>'enter Subject code',:class=>'form-control input-height' %>

									 </div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">Starting Date
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
										 data-link-format="yyyy-mm-dd">

											<%= form.text_field :startDate,:class=>'form-control input-height',:id=>'date',size:'16',:placeholder=>'Starting Date' %>

											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
										</div>
										<input type="hidden" id="dtp_input2" value="" />
									</div>
								</div>
								
								
								<div class="form-group row">
									<label class="control-label col-md-3">Teacher Name
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
<%= form.select(:subjectTeacher,options_for_select([['Mr.Ngala','Mr.Ngala'],['Mrs.Nzuki','Mrs.Nzuki']]),:class=>'form-control input-height') %>
										
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">Student Capacity
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">

		<%= form.number_field :subjectCapacity,:placeholder=>'Maximum Students',:class=>'form-control input-height' %>	

									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">Contact No.
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">

			<%= form.number_field :subjectNumber,:placeholder=>'HOD Contact Number',:class=>'form-control input-height' %>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">Profile Picture
									</label>
									<div class="compose-editor">

		<%= form.file_field :image,:class=>'default' %>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">Subject Details
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">

									<%= form.text_area :subjectDetail,:placeholder=>'Subject details',:class=>'form-control-textarea',rows:'5' %>	
									</div>
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="offset-md-3 col-md-9">
			<%= form.submit 'Submit',:class=>'btn btn-info m-r-20' %>
			<%= link_to 'cancel',subjects_path,:class=>'btn btn-default' %>	
										</div>
									</div>
								</div>
							</div>
						</form>
						<% end %>
					</div>
				</div>
			</div>
		</div>
<!-- end page content -->
<%= render 'dashboards/chat' %>
<%= render 'dashboards/footer' %>

