<% @teacher.each do |teacher| %>
	<% if teacher.user == current_user %>
		<div class="card card-box">
			<div class="card-body no-padding ">
				<div class="doctor-profile">
					<%  if teacher.image.attached? %>
					<%= image_tag(teacher.image,:class=>'doctor-pic') %>
					<% else %>
						<%= image_tag('std1.jpg',:class=>'doctor-pic') %>
					<% end %>
					<div class="profile-usertitle">
						<div class="doctor-name"><%= teacher.firstName + ' '+teacher.lastName %> </div>
						<div class="name-center"> <%= teacher.department %> </div>
					</div>
					<p><%= teacher.address %> <br/>Eldoret</p>
					<div>
						<p><i class="fa fa-phone"></i><a href="tel:<%= teacher.phoneNumber %>"> <%= teacher.phoneNumber %></a></p>
					</div>
					<div class="profile-userbuttons">
						<a href="#" class="btn btn-circle deepPink-bgcolor btn-sm">Read More</a>
					</div>
				</div>
			</div>
		</div>
	<% end %> 
<% end %>