<tbody>
<% @teacher.each do |teacher| %>
	<% if teacher.user == current_user %>
		<tr class="odd gradeX">
			<td class="patient-img">	
			<% if teacher.image.attached? %>
			<%= image_tag(teacher.image) %>									
			<% else %>
				<%= image_tag('std1.jpg',:class=>'doctor-pic') %>
			<% end %>				
			</td>
			<td><%= teacher.firstName+ ' ' +teacher.lastName %></td>
			<td class="left"><%= teacher.department %></td>
			<td class="left"><%= teacher.gender %></td>
			<td class="left"><%= teacher.phoneNumber %></td>
			<td><a href="<%= teacher.email %>">
					<%= teacher.email %> </a></td>
			<td class="left"><%= teacher.joinDate %></td>
			<td>
				<button class="btn btn-primary btn-xs">
					<%= link_to '',edit_teacher_path(teacher),:class=>'fa fa-pencil' %>
				</button>
				<button class="btn btn-danger btn-xs">
				<%= link_to '',teacher_path(teacher),method: :delete,data:{confirm: 'Are you sure?'},:class=>'fa fa-trash-o'%>
				</button>
			</td>
		</tr>
	<% end %>
<% end %>
</tbody>
            