<%= render 'dashboards/hNavBar' %>
<%= render 'dashboards/vNavBar' %>
<div class="page-content-wrapper">
	
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Add Teacher</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="">Teacher</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Add Teacher</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="card card-box">
								<div class="card-head">
									<header>Basic Information</header>
									<!-- <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
										<i class="material-icons">more_vert</i>
									</button>
									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
										<li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
										<li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
										<li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
									</ul> -->
								</div>
								<div class="card-body" id="bar-parent">
								<%= form_with scope: :teacher, url: teachers_path,local: true do |form| %>

								<% if @teacher.errors.any? %>
								 <%= @teacher.errors.full_messages.each do |message| %>
								                          <p><% message %></p>
								                        <% end %>
								                <% end %>
									<form action="#" id="form_sample_1" class="form-horizontal">
										<div class="form-body">
											<div class="form-group row">

												<label class="control-label col-md-3">First Name
													<span class="required"> * </span>
												</label>

												<div class="col-md-5">
													<%= form.text_field :firstName ,:placeholder=>'enter first name',:class=>'form-control input-height' %>
													
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Last Name
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">

													<%= form.text_field :lastName ,:placeholder=>'enter last name',:class=>'form-control input-height' %>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Email
												</label>
												<div class="col-md-5">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-envelope"></i>
														</span>

														
									<%= form.text_field :email ,:class=>'form-control input-height',:placeholder=>'Email Address' %>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Joining Date
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
													 data-link-format="yyyy-mm-dd">

													<%= form.text_field :joinDate ,:class=>'form-control input-height',size:'16',:placeholder=>'Joining Date',:id=>'date' %>
														<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
													</div>

													<input type="hidden" id="dtp_input2" value="" />
													
												</div>
											</div>
											
											
											<div class="form-group row">
												<label class="control-label col-md-3">Designation
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">

												<%= form.text_field :designation ,:placeholder=>'enter your designation',:class=>'form-control input-height' %>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Departments
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">

								<%= form.select( :department,options_for_select([['Medical','Medical'],['Engineering','Engineering']]) ,:class=>'form-control input-height') %>
													
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Gender
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">

													<%= form.select(:gender,options_for_select([['Male','Male'],['Female','Female']]),:class=>'form-control input-height') %>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Mobile No.
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">

												<%= form.number_field :phoneNumber ,:placeholder=>'mobile number',:class=>'form-control input-height' %>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Birth Date
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">
													<div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input5"
													 data-link-format="yyyy-mm-dd">

														<%= form.text_field :birthDate ,:class=>'form-control input-height',:id=>'dateOfBirth',size:'16',:placeholder=>'date of Birth' %>

														<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
													</div>
													<input type="hidden" id="dtp_input5" value="" />
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Address
													<span class="required"> * </span>
												</label>
												<div class="col-md-5">

													<%= form.text_area :address ,:placeholder=>'address',:class=>'form-control-textarea',rows:'5' %>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Profile Picture
												</label>
												<div class="compose-editor">

													<%= form.file_field :image ,:class=>'default' %>
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-md-3">Education
												</label>
												<div class="col-md-5">

													<%= form.text_area :education ,:class=>'form-control-textarea',:placeholder=>'Education',rows:'5' %>
												</div>
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="offset-md-3 col-md-9">
					
					<%= form.submit 'Submit',:class=>'btn btn-info m-r-20' %>
					<%= link_to 'Cancel',teachers_path,:class=>'btn btn-default' %>
					
													</div>
												</div>
											</div>
										</div>
									</form>
								<% end %>
								</div>
							</div>
						</div>
					</div>
<%= render 'dashboards/chat' %>
<%= render 'dashboards/footer' %>