<%= render 'dashboards/hNavBar' %>
<%= render 'dashboards/vNavBar' %>
<!-- add content here -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Dashboard</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Dashboard</li>
							</ol>
						</div>
					</div>
					<!-- add content here -->

<div class="row">
		<div class="col-md-12">
				<!-- BEGIN PROFILE SIDEBAR -->
				<div class="profile-sidebar">
					<div class="card card-topline-aqua">
						<div class="card-body no-padding height-9">
							<div class="row">
								<div class="profile-userpic">
									<% if @user.image.attached? %>
									<%= image_tag(@user.image,:class=>'img-responsive') %>
									<% else %>
									<%= image_tag('dp.jpg',:class=>'img-responsive') %>
									<% end %>
								</div>
							</div>
							<div class="profile-usertitle">
								<div class="profile-usertitle-name"><%= @user.schoolName %> </div>
								<div class="profile-usertitle-job"> <%= @user.email %> </div>
							</div>
							<ul class="list-group list-group-unbordered">
								<li class="list-group-item">

									<b>Teachers</b> <a class="pull-right"><%= @user.teachers.count %></a>
								</li>
								<li class="list-group-item">
									<b>Students</b> <a class="pull-right"><%= @user.students.count %></a>
								</li>
								<li class="list-group-item">
									<b>Staff</b> <a class="pull-right"><%= @user.staffs.count %></a>
								</li>
							</ul>
							<!-- END SIDEBAR USER TITLE -->
							<!-- SIDEBAR BUTTONS -->
							<div class="profile-userbuttons">
	<%= link_to "Log out",destroy_user_session_path,method: :DELETE,:class=>'btn btn-circle red btn-sm' %>
							</div>
							<!-- END SIDEBAR BUTTONS -->
						</div>
					</div>
				</div>

			<div class="card card-box">
				<div class="card-head">
					<header>Teacher List</header>
				</div>
				<div class="card-body ">
					<div class="row">
						<ul class="docListWindow small-slimscroll-style">
							<% @user.teachers.each do |s|%>
							<li>
								<div class="prog-avatar">
									<% if s.image.attached? %>
									<%= image_tag(s.image,width:'40',:height=>'40') %>
									<% else %>
									<%= image_tag('prof2.jpg',width:'40',:height=>'40') %>
									<% end %>
								</div>
								<div class="details">
									<div class="title">
										<a href="#"><%= s.firstName %></a> -(<%= s.department %>)
									</div>
									<div>
										<span class="clsAvailable">Available</span>
									</div>
								</div>
							</li>
						<% end %>
						</ul>
						<div class="full-width text-center p-t-10">
							<%= link_to 'View All',teachers_path,:class=>'btn purple btn-outline btn-circle margin-0' %>
						</div>
					</div>
				</div>
			</div>
		
	</div>	
</div>
				<!-- END BEGIN PROFILE SIDEBAR -->
				<!-- BEGIN PROFILE CONTENT -->

<!-- ##################################################################### -->
<%= render 'dashboards/chat' %>
<%= render 'dashboards/footer' %>