<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Examname:</strong>
  <%= @exam.examName %>
</p>


<p>
  <strong>Results:</strong>
  <%= @exam.results %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
