<!DOCTYPE html>
<html>
  <head>
    <title>RhinoBaseSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag '/assets/js/jquery.min' %>
<%= javascript_include_tag '/assets/js/popper' %>
<%= javascript_include_tag '/assets/jquery-slimscroll/jquery.slimscroll' %>
<%= javascript_include_tag '/assets/js/jquery.slimscroll' %>

<%= javascript_include_tag '/assets/js/bootstrap.min' %>
<%= javascript_include_tag '/assets/js/jquery.blockui.min' %>

<%= javascript_include_tag '/assets/js/app' %> 
<%= javascript_include_tag '/assets/js/layout' %>
<%= javascript_include_tag '/assets/js/theme-color' %>

<%= javascript_include_tag '/assets/js/material.min' %>
<%= javascript_include_tag '/assets/getmdl-select' %>

<%= javascript_include_tag '/assets/plugins/jquery-ui/jquery-ui.min' %>
<%= javascript_include_tag '/assets/plugins/moment/moment.min' %>
<%= javascript_include_tag '/assets/plugins/fullcalendar/fullcalendar' %>
<%= javascript_include_tag '/assets/calendar.min' %>
<!-- Calendar -->
  <%= javascript_include_tag '/assets/plugins/material-datetimepicker/moment-with-locales.min' %>
  <%= javascript_include_tag '/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker' %>
  <%= javascript_include_tag '/assets/plugins/material-datetimepicker/datetimepicker' %>

  <!-- Data Table -->
  <%= javascript_include_tag '/assets/plugins/datatables/jquery.dataTables.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/dataTables.buttons.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/buttons.flash.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/jszip.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/pdfmake.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/vfs_fonts' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/buttons.html5.min' %>
  <%= javascript_include_tag '/assets/plugins/datatables/export/buttons.print.min' %>
  <%= javascript_include_tag '/assets/js/table/table_data' %>



<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c260e4282491369ba9fc118/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  </head>
                
  <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <%= yield %>

  </body>
</html>
